 
* {
    box-sizing: border-box;
}


body {
    font-family: Arial;
    margin: 0;
}

/* Header*/
.header {
    padding: 60px;
    text-align: center;
    background: #9c1818;
    color: white;
}


/* Estilo do Menus */
.navbar {
    display: flex;
    background-color: #333;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* mudando a cor do hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.row {  
    display: flex;
    flex-wrap: wrap;
}


.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    height: 950px;
}

/* Main column */
.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}



img{
    display: block;

}


.fakeimg {
    background-image: url(../img/Capturar12.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;
    padding: 150px;
}

.fakeimg1{
    background-image: url(../img/file.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 25%;
    padding: 20px;
}
.fakeimg2{
    background-image: url(../img/etec_info.png);
    background-repeat: no-repeat;
    width:100%;
    height: 25%;
    padding: 20px;
}

.fakeimg3{
    background-image: url(../img/etec_adm.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 30%;
    padding: 20px;
}

/* Footer */
.footer {
    padding: 30px;
    text-align: center;
    background: #ddd;
    height: 100px;
}

.footer h2{
    font-size: 1em;
}

/* Breakpoint - quando a tela for inferior a 700px, ajustar colunas */
@media screen and (max-width: 700px) {  
    .row, .navbar {   
        flex-direction: column;
    }

    .fakeimg1{
        margin-left: 22%;
        width: 80%;
        height: 200px;

    }
    

    .fakeimg{
        background-image: url(../img/Capturar21.png);
        background-repeat: no-repeat;
        margin-left: 0;
        width: 100%;
        padding-bottom: 55px;

    }

    .footer h2{
    font-size: 0.85em;
}

}